<% function status(statusStr){
    switch(statusStr){
        case 'open':
%>
<i class="fa-solid fa-rotate text-info fa-spin"></i>&nbsp;审核中
<% break;
        case 'rejected': %>
<i class="fa-solid fa-ban text-danger"></i>&nbsp;未通过
<% break;
        case 'accepted': %>
<i class="fa-solid fa-circle-check text-success"></i>&nbsp;已通过
<% }} %>
<% function faGen(number){ 
    var numbers=number.toString().split('');
    numbers.forEach(value=>{
%>
<i class="fa-solid fa-<%-value%>"></i>
<% });} %>
<!DOCTYPE html>
<html>

    <head>
        <%- include('_particials/head'); %>
        <%- include('_scripts/submitDropdown'); %>
        <%- include('_scripts/submitSwitchListener') %>
    </head>

    <body>
        <%- include('_particials/header/main', {page:'submit'}); %>
        <div class="container">
            <div class="row">
                <div class="col col-12 text-center col-md-4 text-md-end d-grid gap-3">
                    <div class="card mt-3">
                        <div class="card-header text-muted">
                            <strong>
                                提交新别名
                            </strong>
                        </div>
                        <form action="/submit" method="POST">
                            <div class="card-body ">
                                <div id="ExistField">
                                    <input type="hidden" id="title_e" class="form-control input-required"
                                           autocomplete="off" name="title_e" readonly>
                                    <input type="hidden" id="index" name="index" />

                                    <div class="mdc-select mdc-select--outlined text-start w-100" id='title_e_selector'>
                                        <div class="mdc-select__anchor" aria-labelledby="outlined-select-label">
                                            <span class="mdc-notched-outline">
                                                <span class="mdc-notched-outline__leading"></span>
                                                <span class="mdc-notched-outline__notch">
                                                    <span id="outlined-select-label" class="mdc-floating-label">选择</span>
                                                </span>
                                                <span class="mdc-notched-outline__trailing"></span>
                                            </span>
                                            <span class="mdc-select__selected-text-container">
                                                <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                                            </span>
                                            <span class="mdc-select__dropdown-icon">
                                                <svg
                                                     class="mdc-select__dropdown-icon-graphic"
                                                     viewBox="7 10 10 5" focusable="false">
                                                    <polygon
                                                             class="mdc-select__dropdown-icon-inactive"
                                                             stroke="none"
                                                             fill-rule="evenodd"
                                                             points="7 10 12 15 17 10">
                                                    </polygon>
                                                    <polygon
                                                             class="mdc-select__dropdown-icon-active"
                                                             stroke="none"
                                                             fill-rule="evenodd"
                                                             points="7 15 12 10 17 15">
                                                    </polygon>
                                                </svg>
                                            </span>
                                        </div>

                                        <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                            <div class="text-center p-3">
                                                <label class="mdc-text-field mdc-text-field--filled w-100">
                                                    <span class="mdc-text-field__ripple"></span>
                                                    <span class="mdc-floating-label" id="searchLabel">搜索</span>
                                                    <input type="text" class="mdc-text-field__input" aria-labelledby="searchLabel"
                                                           oninput="squery();" id='selSongSearch' autocomplete='off'>
                                                    <span class="mdc-line-ripple"></span>
                                                </label>

                                            </div>
                                            <hr />
                                            <ul class="mdc-list" role="listbox">
                                                <% aliases.forEach(value=>{ %>
                                                <li class="mdc-list-item" aria-selected="false" data-value="<%- value.title %>" role="option">
                                                    <span class="mdc-list-item__ripple"></span>
                                                    <span class="mdc-list-item__text maq-dropdown-item">
                                                        <%- value.title %>
                                                    </span>
                                                </li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="TitleAliasField" class="d-grid gap-3 hidden">
                                    <label class="mdc-text-field mdc-text-field--outlined">
                                        <span class="mdc-notched-outline">
                                            <span class="mdc-notched-outline__leading"></span>
                                            <span class="mdc-notched-outline__notch">
                                                <span class="mdc-floating-label" id="titleLabel">歌曲完整标题</span>
                                            </span>
                                            <span class="mdc-notched-outline__trailing"></span>
                                        </span>
                                        <input type="text" class="mdc-text-field__input" aria-labelledby="titleLabel" autocomplete="off" name="title">
                                    </label>
                                </div>
                                <label class="mdc-text-field mdc-text-field--outlined w-100 mt-3">
                                    <span class="mdc-notched-outline">
                                        <span class="mdc-notched-outline__leading"></span>
                                        <span class="mdc-notched-outline__notch">
                                            <span class="mdc-floating-label" id="aliasLabel">要提交的别名</span>
                                        </span>
                                        <span class="mdc-notched-outline__trailing"></span>
                                    </span>
                                    <input type="text" class="mdc-text-field__input" aria-labelledby="aliasLabel" autocomplete="off" name="alias">
                                </label>
                                <hr />
                                <div class="form-check form-switch text-end">
                                    <label class="form-check-label" for="exist">歌曲不在已有列表中</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="notexist" name="notexist" onchange="listenExistSwitch()" />
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mdc-touch-target-wrapper">
                                    <button class="btn btn-secondary" type="submit">
                                        提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <% if(post){ 
                   if(!success){ %>
                    <div class="alert alert-danger text-start" role="alert">
                        <h4 class="alert-heading">提交失败！</h4>
                        <p>
                            <h5>提交要求</h5>
                            <ul>
                                <li>在“歌曲已存在于别名库中”未选中的情况下，标题不能为空。</li>
                                <li>在“歌曲已存在于别名库中”选中的情况下，必须选择歌曲。</li>
                                <li>别名不能为空。</li>
                            </ul>
                            请确保您的提交符合以上要求并重试。
                        </p>
                    </div>
                    <% }else{ %>
                    <div class="alert alert-success text-start" role="alert">
                        <h4 class="alert-heading">提交成功！</h4>
                        <p>
                            您提交的别名已进入审核队列，
                            审核通过后您提交的别名将可以被查询。
                        </p>
                    </div>
                    <% }} %>
                </div>
                <div class="col col-12 col-md-8">
                    <% if(!post){ %>
                    <p class="note note-primary mt-3">
                        在提交之前请先<strong>点击“选择”</strong>来检查别名库是否存在此歌曲。若确实不存在才可提交新的标题。
                        若歌曲不存在，请开启“歌曲不在已有列表中”，再输入歌曲<strong>完整</strong>标题。
                    </p>
                    <% } %>
                    <div class="card mt-3">
                        <div class="card-header text-center text-md-start text-muted">
                            <strong>
                                审核队列
                            </strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>
                                        <i class="fa-solid fa-hashtag"></i>
                                    </th>
                                    <th>标题</th>
                                    <th>别名</th>
                                    <th>状态</th>
                                    <th>提交时间</th>
                                </tr>
                                <% data.forEach((value,n)=>{ %>
                                <tr>
                                    <td><%- faGen(n+1); %></td>
                                    <td><%-value.title;%></td>
                                    <td><%-value.alias;%></td>
                                    <td>
                                        <%-status(value.status);%>
                                    </td>
                                    <td><%-value.time;%></td>
                                </tr>
                            <% }); %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <foot>
        <%- include('_particials/foot'); %>
        <%- include('_scripts/titleSubmitter'); %>
    </foot>
</html>